 body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  #countdownDisplay {
    font-size: 2em;
    padding: 10px;
    text-align: center;
  }

  #republicDayMessage {
    font-size: 5em;
    color: violet; 
  }